.sidebar {
  position: absolute;
  top: 100px;       
  left: 25px;
  width: 2000px;
  height: auto;
  background: #2c3e50;  /* Remettre un fond */
  color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.app-container {
  display: flex;
}

.content {
  margin-left: 280px; /* léger décalage pour laisser respirer la sidebar */
  padding: 30px;
  flex: 1;
  min-height: 100vh;
  background: #f4f6f9;
}

.sidebar nav a {
  display: block;  /* liens alignés verticalement */
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 6px;
  transition: background 0.3s;
}

.sidebar nav a:hover {
  background: #34495e;
}
